<?xml version="1.0"?>

<launch>

  <arg name="goal_topic" default="/move_base_simple/goal"/>
  <arg name="goal_frame" default="map"/>
  <!-- <arg name="goal_topic" default="/cf1/cmd_position"/> -->


  <node name="goal_pub" pkg="flight_camp" type="goal_pub.py" output="screen">

    <param name="goal_topic" value="$(arg goal_topic)"/>
    <param name="goal_frame" value="$(arg goal_frame)"/>

  </node>



</launch>

